
/Library
/Temp
/Logs
/UserSettings
/Logs
/.vs/Final IA Sueldo Matias/FileContentIndex
/.vs/Final IA Sueldo Matias/v17
/.vs/Final IA Sueldo Matias/v17
/.vs/Final IA Sueldo Matias
/.vs/Final IA Sueldo Matias/v17
/Logs
/obj/Debug
